# General Project Files
.git
.gitignore
**/*.md
.dockerignore
Dockerfile.dev
docker-compose.yaml
.vscode

# JS
**/dist
node_modules/
npm-debug.log
.coverage
.coverage.*
.env
.aws

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.mo
*.egg-info/
*.egg
.Python
venv
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
settings_local.py
*.sqlite3
